doctype html
html
    head
        title
    body
        //hace que tome los estilos deseados
        link(rel = "stylesheets", href = "/stylesheets/style.css", type= 'text/css')
        link(rel = "stylesheets", href = "/css/bootstrap.min.css", type= 'text/css')
        block content 
        //le pone de nombre content al bloque 
